.une{
	color:black;
	 font-family:Impact, fantasy;
	 font-style:oblique;
	 font-size:69px;
	 text-align: center;
	 background-color:white;
	 background: linear-gradient(110deg, purple 50%, #da70d6 55%);
}
.deux{
	color:black;
     font-size:30px;
     font-family:Times;
	 font-style:italic;
}
body{
     background-color:purple; 
	 background-size:cover;
	 animation-name : bg;
	 animation-duration: 6s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
}
@keyframes bg {
	0% {background-color: purple;}
	50% {background-color: #ba55d3;}
	100% {background-color: #da70d6;}
}
h2{
	text-align: center;
	font-style:italic;
    font-size:50px;  
}
li{
	font-style:italic;
    font-size:40px;  
	list-style-type: none;
}
h2.cap{
	 text-decoration:underline;
}
h3{
	font-family:Times New Roman;
}
h4{
	color : white;
}